<extends src='layout.html'>
  <block name='content'>

    <include src='/partials/header.html'></include>

    <section class="page-header">
    	<!-- section header -->
    	<div class="section-header user-case__main-title">
    		<span class="back-text">Ecologica Learning</span>
    		<h2>Professional HSE Training</h2>
    		<span class="line"></span>
    	</div>
    </section>


    <!-- section portfolio content -->
    <section class="portfolio-content with-line">
    	<div class="container">
        <div class="row">
          <div class="col-md-3 text-center">
            <h5>Client</h5>
            <p>Ecologica Learning</p>
          </div>
          <div class="col-md-3 text-center">
            <h5>Deliverable</h5>
            <p>Responsive Web App Design and Development</p>
          </div>
          <div class="col-md-3 text-center">
            <h5>Responsibilities</h5>
            <p>UX Research & Design, UI Design, Front-End Development</p>
          </div>
          <div class="col-md-3 text-center">
            <h5>Tools & Software</h5>
            <p>Sketch, HTML, CSS, JS, Atom</p>
          </div>
        </div>
        <hr>
        <div class="row use-case__container">
          <div class="col-md-8 offset-md-2">
            <h3 class="mt-0">Brief introduction</h3>
            <p>Ecologica Learning is a local HSE (Health, Safety, and Environment) training company. The company goal is to offer training and certifications to the México Oil and Gas Industry employees in a way that is convenient for them. </p>
            <h3>The problem</h3>
            <p>The existing local services did not have an extensive selection of courses and are not flexible enough to be able to work with the Oil and Gas Industry employees best interest. Currently, there is a need to periodically renew the HSE Certifications as they are mandatory to work in that industry.</p>
            <h3>Main roles</h3>
            <p>There are two main roles with this project, Ecologica Learning company who gives the training and the employees of the Oil and Gas industry who take the training.</p>
            <h3>Context</h3>
            <p>To take the training the employees have to find a certificated training company that teaches about a particular subject. Then the employee has to go to the training company facility to take the course.</p>
            <h3>Constraints and scope</h3>
            <p>HSE courses are practical, their certification requires by law to be face-to-face so it's not possible to offer online courses. Furthermore, information like the course price will not be available in the web app as it changes according to the employees' needs. Also, the company doesn't have a logo or branding yet so that will have to be provided.</p>
            <h3>The solution</h3>
            <p>The solution proposed for a first stage is a responsive website that let the employee find the course he is looking for and also contact Ecologica Learning so a course can be scheduled. In a future stage is considered also to show the availability in a calendar for the training. </p>
            <h3>Sitemap and user flows</h3>
            <p>Here is laid out how the users would interact with the site. Flows focus on the sequential process that a user would from beginning to end of their engagement with Ecologica Learning.</p>
            <h4>Sitemap</h4>
            <img src="img/ecologica/site-map-ecologica-learning.png" alt="">
            <h4>Browse course details user flow</h4>
            <img src="img/ecologica/user-flow-browse-course-details.png" alt="">
            <h4>Contact Ecologica Learning user flow</h4>
            <img src="img/ecologica/user-flow-contact-ecologica.png" alt="">
            <h3>Hi-Fi Wireframes</h3>
            <h4>Course Grid</h4>
            <img class="outline" src="img/ecologica/ecologica-learning-wireframes/grid-courses.png" alt="">
            <h4>Course Detail</h4>
            <img class="outline" src="img/ecologica/ecologica-learning-wireframes/detail-course.png" alt="">
            <h4>Course Request Form</h4>
            <img class="outline" src="img/ecologica/ecologica-learning-wireframes/form-course.png" alt="">
            <h4>Course Request Confirmation</h4>
            <img class="outline" src="img/ecologica/ecologica-learning-wireframes/confirmation-course.png" alt="">
            <h3>Final Result</h3>
            <h4>Course Grid</h4>
            <img class="outline" src="img/ecologica/ecologica-learning-sc/grid-course.jpg" alt="">
            <h4>Course Detail</h4>
            <img class="outline" src="img/ecologica/ecologica-learning-sc/detail-course.png" alt="">
            <h4>Course Request Form</h4>
            <img class="outline" src="img/ecologica/ecologica-learning-sc/form-course.png" alt="">
            <h4>Course Request Confirmation</h4>
            <img class="outline" src="img/ecologica/ecologica-learning-sc/confirmation-course.png" alt="">
            <h3 class="user-case__conclusion">Conclusion</h3>
            <p>The web app for Ecologica Learning improves the communication flow between the service company and the oil and gas industry employees that want to be trained. As this web app gets further quantitative and qualitative statistics from their users, it can be improved with more functionality that aligns with both Ecologica Learning and their clients' needs.</p>
          </div>
        </div>
    	</div>
    </section>

    <include src='/partials/footer.html'></include>

    <!-- Go to top button -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>


  </block>
</extends>
