<extends src='layout.html'>
  <block name='content'>

    <include src='/partials/header.html'></include>

    <section class="page-header">
    	<!-- section header -->
    	<div class="section-header user-case__main-title">
    		<span class="back-text">Ecologica Learning</span>
    		<h2>Professional HSE Training</h2>
    		<span class="line"></span>
    	</div>
    </section>


    <!-- section portfolio content -->
    <section class="portfolio-content with-line">
    	<div class="container">
    		<h3 class="mt-0">Brief Introduction</h3>
    		<p>Ecologica Learning is a local HSE (Health, Safety and Environment) training company. The company goal is to offer expedite training and certifications to the México Oil and Gas Industry employees in a way that is convenient for them. </p>
        <h3>The problem</h3>
        <p>The existing local services did not have an extensive selection of courses and are not flexible enough to be able to work with the Oil and Gas Industry employees best interest. Currently there is a need to periodically renew the HSE Certifications as they are mandatory to work in that industry.</p>
        <h3>Main roles</h3>
        <p>There are two main roles with this project, Ecologica Learning company who gives the training and the employees of the Oil and Gas industry who take the training.</p>
        <h3>Context</h3>
        <p>To take the training the employees have to find a certificated training company that teaches about a particular subject. Then the employee have to go to the training company facility to take the course.</p>
        <h3>Constraints and scope</h3>
        <p>As today, most of the HSE courses given are practical in nature, also the certification of the course requires by law that the course is given in a face to face manner so there is no chance to offer a MOOC like format. Furthermore information like the course price is no available due the nature or the service as it changes according the market and employees needs. Also the company doesn't have a logo or branding yet so that will have to be provided. </p>
        <h3>The solution</h3>
        <p>The solution proposed for a first stage is a responsive web site that let the employee find the course he is looking for and also contact Ecologica Learning so a course can be schedule. In a future stage is considered also to show the availability in a calendar for the training. </p>
        <h3>Site map and user flows</h3>
        <p>Here is layed out how the users would interact with the site. Flows focus on the sequential process that a usar would from beginning to end of their engagement with Ecologica Learning.</p>
        <h4>Site map</h4>
        <img src="img/ecologica/site-map-ecologica-learning.png" alt="">
        <h4>Browse course details user flow</h4>
        <img src="img/ecologica/user-flow-browse-course-details.png" alt="">
        <h4>Contact Ecologica Learning user flow</h4>
        <img src="img/ecologica/user-flow-contact-ecologica.png" alt="">
        <h4>Hi Fi Wireframes</h4>
        <img src="img/ecologica/user-flow-contact-ecologica.png" alt="">
        <h3>Conclusion</h3>
        <p>The web app for Ecologica Learning improves the communication flow between the service company and the oil and gas industry employees that want to be trained. As this web app gets further quantitative and qualitative statistics from their users, it can be improved with more functionality that aligns with both Ecologica Learning and their clients needs.</p>
    	</div>
    </section>

    <include src='/partials/footer.html'></include>

    <!-- Go to top button -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>


  </block>
</extends>
