<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content=''>
    <meta name='author' content='kaleblv'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <block name='title'>
      <title>Kaleb Jimenez</title>
    </block>
    <link rel='stylesheet' href='css/index.css'>
  </head>
  <body>
    <block name='content'></block>

    <block name='javascript'>
      <script src="vendor/jquery-1.12.3.min.js"></script>
      <script src="vendor/jquery.easing.min.js"></script>
      <script src="vendor/popper.min.js"></script>
      <script src="vendor/bootstrap.min.js"></script>
      <script src="vendor/jpreloader.min.js"></script>
      <script src="vendor/jquery.waypoints.min.js"></script>
      <script src="vendor/jquery.counterup.min.js"></script>
      <script src="vendor/jquery.stellar.js"></script>
      <script src="vendor/jquery.magnific-popup.min.js"></script>
      <script src="vendor/isotope.pkgd.min.js"></script>
      <script src="vendor/wow.min.js"></script>
      <script src="vendor/fss.min.js"></script>
      <script src="vendor/particles.min.js"></script>
      <script src="vendor/particles-config.js"></script>
      <script src="vendor/parallax.min.js"></script>
      <script src="vendor/slick.min.js"></script>
      <script src="vendor/validator.js"></script>
      <script src="vendor/contact.js"></script>
      <script src="vendor/custom.js"></script>
      <script src='js/main.js' defer></script>
    </block>
  </body>
</html>
