.use-case__wrapper {
  padding: 0 0 100px;
}

.use-case__col {
  background: #161616;
  color: #303030;
}

.use-case__copy {
  padding: 50px;
}

.use-case__title {
  color: #fff;
  font-size: 4em;
}

.use-case__col .btn-light {
  color: #161616;
}

.use-case__col .btn-light:hover {
  color: #fff;
}


.page-header {
  padding: 250px 0 100px;
}

.use-case__img {
  opacity: .7;
}

.use-case__container {
  margin-top: 130px;
}

.use-case__container h3:first-child {
  margin-top: 0;
}


.use-case__container h3 {
  margin: 60px 0 20px;
}

.use-case__container h4 {
  margin: 80px 0 40px;
}

.outline {
  border: 1px solid #cdcdcd;
}

.user-case__conclusion {
  margin: 80px 0 20px;
}

@media (max-width: 576px) {
  .use-case__title {
    font-size: 2em;
  }

  #works .back-text {
    font-size: 45px;
  }
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .use-case__img {
    display: none;
  }
  .section-header span.back-text {
    font-size: 51px;
    line-height: 62px;
  }
}
