<!-- site header -->
<header id="header" class="with-logo over">
  <div class="container">
    <div class="d-flex align-items-center pt-2 pb-2 d-lg-none">
      <a href="/" class="navbar-brand">
        <img src="img/logo.svg" alt="talib">
      </a><!-- mobile menu toggle -->
      <button class="ml-auto menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div><!-- main menu -->
    <nav class="horizontal-menu scrollspy d-flex align-items-center">
      <a href="agency.html" class="navbar-brand">
        <img src="img/logo.svg" alt="talib">
      </a>
      <ul class="ml-auto">
        <li>
          <a href="#hero">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#works">Work</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
      <ul class="social-profiles">
        <li>
          <a href="https://www.linkedin.com/in/kalebjimenez/">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="../vendor/resume-kaleb-18.pdf">
            <i class="fas fa-file-alt"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div><!-- mobile menu -->
  <nav class="mobile-menu scrollspy">
    <ul>
      <li>
        <a href="#hero">Home</a>
      </li>
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#works">Work</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
