<!-- section clients logo carousel -->
<section class="with-line clients" data-stellar-background-ratio="0.5"><!-- fix validator issue -->
  <h2 class="text-center tools__title">Some of my favorite tools</h2>
  <div class="container"><!-- carousel wrapper -->
    <div class="clients-wrapper wow slideInRight"><!-- client item -->
      <div class="client-item">
        <a href="#">
          <img src="img/logos/indesign.png" alt="indesign">
        </a>
        <p class="tool__title">Indesign</p>
      </div><!-- client item -->
      <div class="client-item">
        <a href="#">
          <img src="img/logos/illustrator.png" alt="illustrator">
        </a>
        <p class="tool__title">Illustrator</p>
      </div><!-- client item -->
      <div class="client-item">
        <a href="#">
          <img src="img/logos/photoshop-cc.png" alt="photoshop">
        </a>
        <p class="tool__title">Photoshop</p>
      </div><!-- client item -->
      <div class="client-item">
        <a href="#">
          <img src="img/logos/atom-4-logo-png-transparent.png" alt="atom">
        </a>
        <p class="tool__title">Atom</p>
      </div><!-- client item -->
      <div class="client-item">
        <a href="#">
          <img src="img/logos/sketch-mac-icon2x.png" alt="sketch">
        </a>
        <p class="tool__title">Sketch</p>
      </div><!-- client item -->
      <div class="client-item">
        <a href="#">
          <img src="img/logos/invision.png" alt="invision">
        </a>
        <p class="tool__title">Invision</p>
      </div>
    </div>
  </div>
</section>
